@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* abbreviations */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
/* end of abbreviations */

/* letters */
[epub|type~="z3998:letter"] header{
        text-align: right;
}

footer{
        margin-top: 1em;
        text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
        text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
        font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
        margin-top: 1em;
        text-align: initial;
        text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
        text-align: initial;
        text-indent: 0;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
        margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
        display: block;
        text-indent: -1em;
        padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
        display: none;
}

p span.i1{
        padding-left: 2em;
        text-indent: -1em;
}

p span.i2{
        padding-left: 3em;
        text-indent: -1em;
}

p span.i6{
        padding-left: 7em;
        text-indent: -1em;
}

/* elision ⋮ */
span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of poem/verse/song */

/* blockquote in non-English */
blockquote[xml|lang]{
        font-style: italic;
}

/* diary entries */
[epub|type~="z3998:diary-entry"]{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* several stories are self-contained letters so no blockquote and no header */
[epub|type~="se:letter.dateline"],
p[epub|type~="se:diary.dateline"]{
	text-align: right;
}

/* salutations in headers should not be right-aligned */
header p[epub|type~="z3998:salutation"]{
	text-align: initial;
}

/* location-specific */
#madame-telliers-establishment blockquote:first-of-type{
	font-style: italic;
	text-align: center;
}

#on-cats p:first-of-type{
	font-variant: small-caps;
	text-align: right;
}

#my-twenty-five-days header p,
#the-farmer blockquote p,
#the-patron blockquote header p,
#timbuctoo blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#the-relic p[epub|type~="z3998:recipient"]{
	font-style: italic;
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}